.account{
    display: flex;
    &__form{
        display: flex;
        width: 100%;
        gap: 10px;
    }
    &__input{
        min-height: 78px;
        flex: 1 0;
    }
    &__delete{
        align-self: center;
        cursor: pointer;
    }
    :deep(.v-field){
        max-height: 56px;
    }
}